/* General Form Container Styling */
.create-form {
    font-family: 'Arial', sans-serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.create-form h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.create-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-form label {
    font-size: 1rem;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
    width: 100%;
    text-align: left;
}

.create-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.create-form input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.create-form button {
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
}

.create-form button:hover {
    background-color: #0056b3;
}

.create-form button:active {
    background-color: #004085;
}

.create-form input::placeholder {
    color: #aaa;
    font-style: italic;
}
