/* General Styles */
.user {
    font-family: 'Arial', sans-serif;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.user h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.user a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.user a:hover {
    background-color: #0056b3;
}

.user table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    text-align: left;
}

.user table th, .user table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.user table th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
}

.user table tr:nth-child(even) {
    background-color: rgb(202, 237, 237);
}

.user table tr:hover {
    background-color: #e9f5ff;
}

.user table td {
    vertical-align: middle;
}

.user button {
    padding: 8px 12px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: 20px;
}

.user button:hover {
    background-color: #a71d2a;
    
}

.user .update-link {
    
    text-decoration: none;
    color: #28a745;
    font-weight: bold;
    margin-right: 10px;
    transition: color 0.3s;
     
}

.user .update-link:hover {
    color: #1c7c30;
}
